html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #ffffff;
}


div.col {
    background: #ffffff;
    

}

p {
    margin: 0px 15px 30px;
}

h1 {
    
    color: #4aaaa5;
    padding: 15px 15px 0px;
   

}

.img-profile {
    width: 200px;
    height: 200px;
    margin: 0 20px 0px 15px;
    float: left;
}


.main-content {
    margin-top: 25px;
}


#bg-img {
    background-image: url(../images/real_cf.png);
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

.footer {
    background: #ffffff;
   
}
  
.work0,
.work1,
.work2,
.work3,
.work4,
.work5
 {
    height: 200px;
    width: 267px;
    background: #4aaaa5;
    margin: 6px;

    
}

.work1,
.work2,
.work3,
.work4,
.work5 {
    background-size: contain;
}

.carbon-fiber{
    background-image: url(../images/real_cf.png);
    
}

.carbon-fiber,
.carbon-fiber0{
    padding: 5px 3px;
    width: 100%;
}

.work0 {
    background-image: url(../images/real_cf.png);
}

.work1 {
    background-image: url(../images/technics-q-c-640-480-1.jpg);
}

.work2 {
    background-image: url(../images/technics-q-c-640-480-2.jpg);
}

.work3 {
    background-image: url(../images/technics-q-c-640-480-5.jpg);
}

.work4 {
    background-image: url(../images/technics-q-c-640-480-7.jpg);
}

.work5 {
    background-image: url(../images/technics-q-c-640-480-9.jpg);
}

.form-row {
    padding: 20px;
}

h3 {
    color: #ffffff;
}